# Node modules in client and server
client/node_modules/
server/node_modules/

# Environment variables
server/.env

# Production build directory
client/build/

# OS or Editor folders
.DS_Store
.idea/
.vscode/
